build
.git
.cache
.local
.npm
.env
.ash_history
/docker-compose.override.yml
pbsk.code-workspace

.DS_Store
node_modules
.svelte-kit
/package
/build
/functions
/static/tailwind.css
/src/lib/sampledata.json

alcodico.db-*
# Local Netlify folder
.netlify

.cache
pocketbase
*.zip
pb_data
tmp

.gitlab-ci.yml
job.hcl
